# .gitignore


# --- Python 垃圾 ---
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.conda/
# 忽略打包产生的信息
*.egg-info/
.mypy_cache/
.pytest_cache/

# 常用缓存/临时文件
node_modules/
dist/
build/
*.log
*.tmp

# --- 操作系统/IDE 垃圾 ---
.DS_Store
__MACOSX
Thumbs.db
.vscode/
.idea/
*.swp

# 锁定 .gitattributes 不被忽略
!.gitattributes