# 避免--index-url指令冲突。不在requirements中安装
# Windows + RTX 5060Ti (sm_120)：CUDA 12.8 | torch 2.7.0
# pip install torch==2.7.0 torchvision==0.22.0 torchaudio==2.7.0 --index-url https://download.pytorch.org/whl/cu128
# Macbook M5
# pip install torch==2.7.0 torchvision==0.22.0 torchaudio==2.7.0

# 物理引擎 &接口
gymnasium[mujoco,classic-control]

# baseline对比实验
stable-baselines3

# record
tensorboard

# 基础工具
numpy
scipy
matplotlib
pillow

tqdm
psutil
pyyaml

jupyter 
ipykernel